.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.imgGaleria {
    width: 25rem;
    transition: transform .2s;
}

.imgGaleria:hover {
    transform: scale(1.2);
}